{% extends 'main.html' %} {% block content %}

<style>
  .room-container {
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="room-container">
  <div class="comment-wrapper">
    <h1>{{room.name}}</h1>
    <p>{{room.description}}</p>
    <h3>Conversation</h3>
    <hr />
    {% for message in room_messages %}
    <div>
      {% if request.user == message.user %}
      <a href="{% url 'delete-message' message.id %}">Delete</a>
      {%endif%}
      <small>@{{message.user}} {{message.created|timesince}} ago</small>
      <p>{{message.body}}</p>
      <hr />
    </div>
    {% endfor %} {% if request.user.is_authenticated %}
    <div>
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          placeholder="Write your message here..."
          size="40"
          name="body"
        />
      </form>
    </div>
    {% endif %}
  </div>

  <div>
    <h3>Participants</h3>
    <hr />
    {% for user in participants %}
    <p>@{{user.username}}</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
